.city  {
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(178,245,221,1) 96%);
  color: black;
  height: 120px;
  border: 2px solid black;
  margin: 30px;
  padding: 30px;
  text-align: center;
}

.foto{
  text-align: center;
}